$redPrimary: #f44336;
$redLight: #fdecea;

$greenPrimary: #4caf50;
$greenLight: #edf7ed;

$blueDark: #115293;
$bluePrimary: #1976d2;
$blueLight: #e8f4fd;

$bgMain: #f5f5f5;
$bgSecondary1: #e0e0e0;
$bgSecondary2: #d5d5d5;

$textColorMain: rgba(0, 0, 0, 0.87);
$textColorSecondary: rgba(0, 0, 0, 0.57);